#btn {
    display: flex;
    border-radius: 150px;
    border: 0px;
    outline: 0px;
    background-color: rgb(172, 172, 248);
   
    cursor: pointer;
    color: white;
    margin: 10PX;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    font-weight: 300;
    align-items: center;
   justify-content: center;
   
   

   
    
}

ul li{
    list-style: none;
    
}

Ul {
    display: inline;
}

#add{
    display: inline-block;

}

img{
    width: 24px;
    height: 24px;
    gap: 15px;
margin-left: 10px;
cursor: pointer;
}

input[type='text']{
    outline: none;
    border: 1px solid grey;
    width: 100%;
    height:40px;
    border-radius:5px;
}

a {
    text-decoration: none;
    color: grey;
   font-size: xx-large;
   
    

}
#upd{
    display: flex;
    margin: 2px;
    bottom: 33px;
    right: 100px;
    width:100px;
    height:50px;
 
    outline: none;
    background-color: rgb(192, 192, 247);
    color: white;
    border: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    font-size: x-large;

}  
  








